{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_header = _(active|capitalize) %}
{% set page_title = 'Proyecto_LineaBase' %}

{% if current_user.comprobarPermiso('verLineaBase')  %}
	{% set tabs = [
		("Fases",url_for('des.fasesxproyecto', proyecto_id=proyecto.id)), 
		("Items",url_for('des.itemsxproyecto', proyecto_id=proyecto.id)),
		("Lineas Base",url_for('cambios.lineaBasexproyecto', proyecto_id=proyecto.id))
	]%}
{% else %}
	{% set tabs = [
		("Fases",url_for('des.fasesxproyecto', proyecto_id=proyecto.id)), 
		("Items",url_for('des.itemsxproyecto', proyecto_id=proyecto.id))
	]%}
{% endif%}

{% block body %}
<h2>Lineas Base del Proyecto: <font color="royalblue">{{ proyecto.nombre }}</font></h2>

<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
    {% for fase in fases %}
    	<li><a href="#nombre{{fase.id}}" data-toggle="tab">{{ fase.nombre }} </a></li>
    {% endfor%}
    </ul>
    
    <div class="tab-content">
    	{% for fase in fases %}
     	<div class="tab-pane" id="nombre{{fase.id}}">
     		<ul class="thumbnails">
				<li class="span10">
				<div class="thumbnail">

					<h3>Lineas Base de: <font color="royalblue">{{ fase.nombre }}</font></h3>	
					
					<div class="row-fluid">
						<div class="span3">
						<a class="btn btn-primary" href="{{ url_for('cambios.crearLB', proyecto_id=proyecto.id, fase_id=fase.id)}}"><strong>Crear Linea Base</strong></a><br><br>
						</div>
	    			</div>
	
					<table class='table table-bordered table-hover table-condensed'>
						<thead>
						<tr>
							<th>Nombre</th>
							<th>Estado:</th>
							<th>Cantidad Item</th>
							<th>Complejidad</th>
							<th></th>
						</tr>
						</thead>
						{% for lb in fase.lineaBase %}
						<tr>
							<td>{{ lb.nombre }}</td>
							<td>{{ lb.getEstado() }}</td>
							<td>{{ lb.getNroItems() }}</td>
							<td>{{ lb.getComplejidad() }}</td>
							<th><a href="{{ url_for('cambios.asignarItemsLB', lineaBase_id=lb.id)}}"><i class="icon-plus"></i>Asignar Items</a> | <a data-toggle="modal" href="#items{{lb.id}}"><i class="icon-plus"></i> Items</a></th>
							<th><a href="{{ url_for('cambios.dibujarGrafoLB', lineaBase_id=lb.id)}}"><i class="icon-asterisk"></i>Grafo</a></th>
						</tr>
						
						<!--******************** MODAL VER ITEMS LINEA BASE ***************-->
						<div id="items{{lb.id}}" class="modal hide fade in" style="display: none;">
							<div class="modal-header">
								<a data-dismiss="modal" class="close">×</a>
								<h4>Items Actuales de:<font color="royalblue"> {{lb.nombre}}</font></h4>
							</div>
							<div class="modal-body">
								<ul class="nav nav-list">
							    		{% for item in lb.items %}
		    								{% if item.getEstado()!='eliminado' %}
		    								<li><a href="{{ url_for('cambios.desasignarItemsLB	', lineaBase_id=lb.id, item_id=item.id)  }}">{{ item.nombre }} -- <i class="icon-trash"></i>Quitar</a></li>
		    								{% endif %}
		    							{% endfor%}	
		    					</ul>
							</div>
							<div class="modal-footer">
								<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
							</div>
						</div>
						
						{% endfor %}
	     			</table>	
				</div>
				</li>
			</ul>	
     </div>
     {% endfor%}
    </div>
    
</div>
{% endblock %}

