{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_header = _(active|capitalize) %}
{% set page_title = 'Proyecto_Item' %}

{% block body %}
<h2>Fases del Proyecto: <font color="royalblue">{{ proyecto.nombre }}</font></h2>

<h3>Lineas Base </h3>

<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
    {% for fase in fases %}
    	<li><a href="#nombre{{fase.id}}" data-toggle="tab">{{ fase.nombre }} </a></li>
    {% endfor%}
    </ul>
    
    <div class="tab-content">
    	{% for fase in fases %}
     	<div class="tab-pane" id="nombre{{fase.id}}">
     		<ul class="thumbnails">
				<li class="span10">
				<div class="thumbnail">

					<h3>Lineas Base de: <font color="royalblue">{{ fase.nombre }}</font></h3>	
					
					<div class="row-fluid">
						<div class="span3">
						<a class="btn btn-primary" href="{{ url_for('cambios.crearLineaBase', proyecto_id=proyecto.id, fase_id=fase.id)}}"><strong>Crear Linea Base</strong></a><br><br>
						</div>
	    			</div>
	
					<table class='table table-bordered table-hover table-condensed'>
						<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Estado</th>
							<th>Historiales</th>
							<th>Relaciones</th>
							<th></th>
						</tr>
						</thead>
						{% for item in fase.getItems(proyecto.id) %}
						<tr>
							<td>{{ item.nombre }}</td>
							<td>{{ item.descripcion }}</td>
							<td>{{ item.getEstado() }} | 
							{% if item.getEstado()=='aprobado'%}
							<a href="{{ url_for('des.desaprobarItem', item_id=item.id) }}"><i class="icon-remove"></i>Desaprobar</a>
							{%else%}
							 <a href="{{ url_for('des.aprobarItem', item_id=item.id) }}"><i class="icon-ok"></i>Aprobar</a>{%endif%}</td>
							<td><a data-toggle="modal" href="#{{item.id}}"><i class="icon-calendar"></i>Historial</a></td>
							<td><a href="#"><i class="icon-plus"></i> Antecesor</a> | <a data-toggle="modal" href="#padre{{item.id}}"><i class="icon-plus"></i> Padre</a> | <a href="#"><i class="icon-eye-open"></i> Sucesor</a> | <a data-toggle="modal" href="#hijos{{item.id}}"><i class="icon-eye-open"></i> Hijos</a></td>
							<td><a href="{{ url_for('des.item', item_id=item.id, proyecto_id=proyecto.id) }}"><i class="icon-pencil"></i>Editar</a>
							{%if proyecto.comite is none%}
							<a href="#" onClick="alert('El proyecto aun no cuenta con un Comite de cambios.')"><i class="icon-remove"></i>Eliminar</a></td>
							{% else%}
							<a data-toggle="modal" href="#modalSolicitud"><i class="icon-remove"></i>Eliminar</a> </td>
							{% endif %}
						</tr>
						
						{% endfor %}
	     			</table>	
				</div>
				</li>
			</ul>	
     </div>
     {% endfor%}
    </div>
    
</div>
{% endblock %}

