{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_title = 'Usuario_Comite' %}

{% block body %}
<div class="container">

    <h2>Miembros del Comite: <font color="royalblue">{{ comite.nombre }}</font></h2>

    {{ render_form(url_for('cambios.usuariosxcomite', comite_id=comite.id), form)}}  
    <h2>Usuarios asignados</h2>
    <table class='table table-bordered table-hover table-condensed'>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
 				<th></th>
            </tr>
        </thead>
       	{% for user in users%}
		<tr>
        	<td>{{ user.nombre }}</td>
            <td><a data-toggle="modal" href="#{{user.id}}"><i class="icon-remove"></i>Eliminar</a></td>
			<div id="{{user.id}}" class="modal hide fade in" style="display: none;">
				<div class="modal-header">
					<a data-dismiss="modal" class="close">×</a>
					<h4>Desasignar Miembro: <font color="royalblue">{{ user.nombre }}</font></h4>
				</div>
				<div class="modal-body">
					<p>Favor, confirme su respuesta</p>
				</div>
				<div class="modal-footer">
					<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
					<a href="{{ url_for('cambios.desasignarMiembro', comite_id=comite.id, user_id=user.id)}}" class="btn btn-primary">Desasignar</a>
				</div>
			</div>
        </tr>
        {% endfor %}
	</table>
</div>
{% endblock %}
