<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %} - GPM</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% include "macros/_ask_user_to_update_ie.html" %}

    {% block topbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class='brand' href='{{ url_for('frontend.index') }}'><b>GPM</b></a>
                {% if current_user.is_authenticated() %}
                <div class="nav-collapse collapse pull-left">
						<ul class="nav">
							<li class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                	<!--  {% if current_user.comprobarPermiso('verUsuarios')  %}
                                    
                                    {% else %}
                                    <li><a href="#" onClick="alert('No cuenta con permisos para administar Usuarios.')">Usuarios</a></li>
                                    {% endif %}-->
                                    
                                    <li><a href="{{ url_for('admin.users') }}">Usuarios</a></li>
                                    
                                    <li class="divider"></li>
                                    {% if current_user.comprobarPermiso('verRoles')  %}
                                   	<li><a href="{{ url_for('admin.roles') }}">Roles</a></li>
                                    {% else %}
                                    <li><a href="#" onClick="alert('No cuenta con permisos para administrar Roles.')">Roles</a></li>
                                    {% endif %}
                                    
                                    <li class="divider"></li>
                                    {% if current_user.comprobarPermiso('verPermisos')  %}
                                    <li><a href="{{ url_for('admin.permisos') }}">Permisos</a></li>
                                    {% else %}
                                    <li><a href="#" onClick="alert('No cuenta con permisos para administar Permisos.')">Permisos</a></li>
                                    {% endif %}
                                    
                                    <li class="divider"></li>
                                    {% if current_user.comprobarPermiso('verProyectos')  %}
                                    <li><a href="{{ url_for('admin.proyectos') }}">Proyectos</a></li>
                                    {% else %}
                                    <li><a href="#" onClick="alert('No cuenta con permisos para administar Proyectos.')">Proyectos</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    
                                    {% if current_user.comprobarPermiso('verComites')  %}                                    
                                    <li><a href="{{ url_for('admin.comites') }}">Comites</a></li>
                                    {% else %}
                                    <li><a href="#" onClick="alert('No cuenta con permisos para administar Comites.')">Comites</a></li>
                                    {% endif %}                                         
                                </ul>
                            </li>
                        </ul>   
                        <ul class="nav">
                        	<li class="dropdown">
                            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mis Proyectos <b class="caret"></b></a>
                            	<ul class="dropdown-menu">
                            	
                            	{% if current_user.getProyectos()|default('',false) %}
                            		{% for proyecto in current_user.getProyectos() %}
                                	<li><a href="{{ url_for('admin.usuariosxproyecto', proyecto_id=proyecto.id) }}">{{ proyecto.nombre}}</a></li>
                                	{% endfor%}
                                {% else %}
                                    <li><a href="#">< Ninguno ></a></li>
                                {% endif%}    	
                                </ul>    
                            </li>	
                         	<li><a href='{{ url_for('frontend.about') }}'>Acerca de GPM</a></li>
                         </ul> 
                         
                                                     
                            
                        
                        
                </div>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
						<img src="{{ url_for('user.avatar', avatar_filename=current_user.avatar) }}" style="border:1px solid black" width="40" alt="" />
						<li>
							<td><a data-toggle="modal" href="#{{current_user.name}}" class="text"><span class="badge badge-info">6</span> Solicitud de Cambio</a></td>
						</li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                            <li class="divider"></li>
                            <li><a href="{{ url_for('settings.perfil') }}">Configuraciones</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('frontend.logout') }}">Cerrar Sesión</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li><span><a class="btn btn-primary" href="{{ url_for('frontend.login') }}"><strong>Iniciar Sesión</strong></a></span></li>
                        
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}

    {% from 'macros/_misc.html' import render_flash_message %}
    {{ render_flash_message() }}

    {% block container %}
    <div class="container">

        {% block top %}
            <ul class="nav nav-tabs">
                {% for tab, link in tabs %}
                <li class="{% if active == tab %}active{% endif %}">
                    <a href="{{ link }}">{{ tab|capitalize }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endblock %}

        {% block body %}
        {% endblock %}

    </div>
    {% endblock %}


    {% block js_btm %}

    {% set jquery_path = url_for('static', filename='js/vendor/jquery-1.8.3.min.js') %}
    <script>window.jQuery || document.write('<script src="{{ jquery_path }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}

</body>
</html>
