{% extends "admin/layout.html" %}
{% set page_title = 'Usuarios' %}

{% block body %}
<div class="container">
    <h2>Usuarios</h2>
    <a class="btn btn-primary" href="{{ url_for('admin.createUser')}}"><strong>Crear Usuario</strong></a><br><br>
	<a class="btn btn-primary" href="{{ url_for('admin.searchUser')}}"><strong>Buscar Usuario</strong></a><br><br>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Status</th>
                <th>Rol</th>
                <th>Fecha de Creación</th>
                <th></th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.getStatus() }}</td>
            <td>{{ user.getRole() }}</td>
            <td>{{ user.created_time|format_date }}</td>
            <td><a href="{{ url_for('admin.user', user_id=user.id) }}">Editar</a> | <a href="{{ url_for('admin.deleteUser', user_id=user.id) }}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
