{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_header = _(active|capitalize) %}
{% set page_title = 'Proyecto_Item' %}

{% if current_user.comprobarPermiso('verLineaBase')  %}
	{% set tabs = [
		("Fases",url_for('admin.fasesxproyecto', proyecto_id=proyecto.id)), 
		("Items",url_for('admin.itemsxproyecto', proyecto_id=proyecto.id)),
		("Lineas Base",url_for('admin.lineaBasexproyecto', proyecto_id=proyecto.id))
	]%}
{% else %}
	{% set tabs = [
		("Fases",url_for('admin.fasesxproyecto', proyecto_id=proyecto.id)), 
		("Items",url_for('admin.itemsxproyecto', proyecto_id=proyecto.id))
	]%}
{% endif%}

{% block body %}
	<h2>Items del Proyecto: <font color="royalblue">{{ proyecto.nombre }}</font></h2>
	<div class="row-fluid">    
	    <div class="span2">
	    <a class="btn btn-primary" href="{{ url_for('admin.crearItem', proyecto_id=proyecto.id)}}"><strong>Crear Item</strong></a><br><br></div>
    </div>

	<table class='table table-bordered table-hover table-condensed'>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Historiales</th>
                <th>Relaciones</th>
                <th></th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td><a href="{{ url_for('admin.historialxitem', item_id=item.id) }}"><i class="icon-calendar"></i> Ver Historial</a></td>
            <td><a href="#"><i class="icon-eye-open"></i> Padre</a> | <a href="#"><i class="icon-eye-open"></i> Sucesor</a> | <a href="#"><i class="icon-eye-open"></i> Hijos</a></td>
            <td><a href="{{ url_for('admin.item', item_id=item.id, proyecto_id=proyecto.id) }}"><i class="icon-pencil"></i>Editar</a>
	        {%if proyecto.comite is none%}
	        <a href="#" onClick="alert('El proyecto aun no cuenta con un Comite de cambios.')"><i class="icon-remove"></i>Eliminar</a></td>
	        {% else%}
	        <a data-toggle="modal" href="#modalSolicitud"><i class="icon-remove"></i>Eliminar</a> </td>
	        {% endif %}  
	            <div id="modalSolicitud" class="modal hide fade in" style="display: none;">
					<div class="modal-header">
						<a data-dismiss="modal" class="close">×</a>
						<h4>Solicitud de Cambio</h4>
					</div>
					<div class="modal-body">
						<p>Para eliminar un item debe enviar una <font color="royalblue">Solicitud de Cambio</font> y esperar aprobacion. </p>
					</div>
					<div class="modal-footer">	
						<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
						<a href="{{ url_for('admin.crearSolicitud', proyecto_id=proyecto.id, item_id=item.id)  }}" class="btn btn-primary">Enviar Solicitud</a>
					</div>
				</div>
	      
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}
