{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_title = 'Permisos_Rol' %}

{% block body %}
<div class="container">
    <h2>Asignar Permisos al Rol</h2>
    <h3>{{ rol.nombre }}</h3>
        {{ render_form(url_for('admin.permisosxrol', rol_id=rol.id), form)}}
    <h2>Permisos asignados</h2>
    <table class='table table-bordered table-hover table-condensed'>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        {% for permiso in permisos%}
        <tr>
            <td>{{ permiso.nombre }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
