{% extends "layouts/base.html" %}
{% set page_title = 'Proyectos' %}

{% block body %}
<div class="container">
    <h2>Proyectos</h2>
    <div class="row-fluid">    
	    <div class="span2">
	    <a class="btn btn-primary" href="{{ url_for('admin.crearProyecto')}}"><strong>Crear Proyecto</strong></a><br><br></div>
		<form class="navbar-search pull-left" action="{{ url_for('admin.buscarProyecto') }}">
			<input type='text' class="search-query" name='keywords' value='{{ keywords|default('') }}' placeholder='Buscar' />
		</form>
    </div>
    <table class='table table-bordered table-hover table-condensed'>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Complejidad</th>
                <th>Estado</th>
                <th>Fases</th>
                <th>Lider de Proyecto</th>
                <th>Fecha de Creacion</th>
                <th></th>
            </tr>
        </thead>
		{% if current_user.comprobarPermiso('administrador') %}
			{% for proyecto in proyectos %}
				<tr>
				    <td><a href="{{ url_for('admin.usuariosxproyecto', proyecto_id=proyecto.id)}}">{{ proyecto.nombre }}</td>
				    <td>{{ proyecto.complejidad_total }}</td>
				    <td>{{ proyecto.getEstado() }} | <a href="{{ url_for('admin.iniciarProyecto', proyecto_id=proyecto.id) }}">Iniciar</a></td>
				    <td>{{ proyecto.numero_fases }}</td>
				    <td>{{ proyecto.getLider() }}</td>
				    <td>{{ proyecto.created_time|format_date }}</td>
				    <td><a href="{{ url_for('admin.proyecto', proyecto_id=proyecto.id) }}"><i class="icon-pencil"></i>Editar</a> | <a href="{{ url_for('admin.borrarProyecto', proyecto_id=proyecto.id) }}"><i class="icon-remove"></i>Eliminar</a></td>
				</tr>
		    	{% endfor %}
		{% else %}
			{% if current_user.comprobarPermiso('liderProyecto') %}
				{% set proyectosLider = current_user.getProyectosDeLider() %}
					{% for proyecto in proyectosLider %}
					<tr>
						<td><a href="{{ url_for('admin.usuariosxproyecto', proyecto_id=proyecto.id)}}">{{ proyecto.nombre }}</td>
						<td>{{ proyecto.complejidad_total }}</td>
						<td>{{ proyecto.getEstado() }} | <a href="{{ url_for('admin.iniciarProyecto', proyecto_id=proyecto.id) }}">Iniciar</a></td>
						<td>{{ proyecto.numero_fases }}</td>
						<td>{{ proyecto.getLider() }}</td>
						<td>{{ proyecto.created_time|format_date }}</td>
						<td><a href="{{ url_for('admin.proyecto', proyecto_id=proyecto.id) }}"><i class="icon-pencil"></i>Editar</a> | <a href="{{ url_for('admin.borrarProyecto', proyecto_id=proyecto.id) }}"><i class="icon-remove"></i>Eliminar</a></td>
					</tr>
					{% endfor %}
			{% endif %}
		{% endif %}
    </table>
</div>
{% endblock %}
