{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_header = _(active|capitalize) %}
{% set page_title = 'Proyecto_Miembro' %}

{% set tabs = [
    ("Fases",url_for('admin.fasesxproyecto', proyecto_id=proyecto.id)), 
    ("Roles",url_for('admin.rolesxproyecto', proyecto_id=proyecto.id)),
    ("Tipos de Item",url_for('admin.tiposItemxproyecto', proyecto_id=proyecto.id)),
    ("Miembros",url_for('admin.usuariosxproyecto', proyecto_id=proyecto.id))
]%}

{% block body %}
	<h2>Roles del Proyecto: <font color="royalblue">{{ proyecto.nombre }}</font></h2>
	{{ render_form(url_for('admin.rolesxproyecto', proyecto_id=proyecto.id), form)}}
	<table class='table table-bordered table-hover table-condensed'>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        {% for rol in roles %}
        <tr>
            <td>{{ rol.nombre }}</td>
            <td>{{ rol.descripcion }}</td>

            <td><a href="{{ url_for('admin.permisosxrol', rol_id=rol.id) }}"><i class="icon-eye-open"></i>Permisos</a> | <a href="{{ url_for('admin.rol', rol_id=rol.id) }}"><i class="icon-pencil"></i>Editar</a> | <a href="{{ url_for('admin.borrarRol', rol_id=rol.id) }}"><i class="icon-remove"></i>Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
