{% set page_title = current_user.name %}

{% extends "layouts/base.html" %}

{% block body %}
<h1> BIENVENIDO {{ current_user.name }} !!</h1><br>
<img src="{{ url_for('user.avatar', avatar_filename=current_user.avatar) }}" alt="" />
<br>
<h4>Para rellenar o modificar sus datos siga los siguientes pasos:</h4>

<li> Vaya a la parte superior derecha y hace Click en su nombre de Usuario
<li> Seleccione la Opcion <i><b>Configuraciones</b></i>
<li> Tiene la opciones de Editar su <i><b>Perfil Publico</b></i> asi como su <i><b>Contrasena</b></i>
<br><br>

<h4>Para salir elija la opcion de <i><b>Cerrar Sesion</b></i></h4>


{% endblock %}
