{% set page_title = comite.nombre %}
{% extends "layouts/base.html" %}

{% block body %}
<table class='table table-bordered table-hover table-condensed'>
	<thead>
    	<tr>
        	<th>Nombre de Comite</th>
            <th>Proyecto</th>
            <th>Miembros</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
	</thead>
    	<tr>
            <td>{{ comite.nombre }}</td>
            <td>{{ comite.proyecto_id }}</td>
            <td><a href="{{ url_for('cambios.usuariosxcomite', comite_id=comite.id) }}"><i class="icon-user"></i> Ver Miembros</a></td>
            <td>{{ comite.descripcion }}</td>
            <td><a href="{{ url_for('cambios.comite', comite_id=comite.id) }}"><i class="icon-pencil"></i>Editar</a> | <a href="{{ url_for('cambios.borrarComite', comite_id=comite.id) }}"><i class="icon-remove"></i>Eliminar</a></td>
        </tr>     
</table>

{% endblock %}
