
{% from "macros/_form.html" import render_form %}
{% extends "layouts/base.html" %}
{% set page_header = _(active|capitalize) %}
{% set page_title = 'Proyecto_Item' %}

{% if current_user.comprobarPermiso('verLineaBase')  %}
	{% set tabs = [
		("Fases",url_for('des.fasesxproyecto', proyecto_id=proyecto.id)), 
		("Items",url_for('des.itemsxproyecto', proyecto_id=proyecto.id)),
		("Lineas Base",url_for('cambios.lineaBasexproyecto', proyecto_id=proyecto.id))
	]%}
{% else %}
	{% set tabs = [
		("Fases",url_for('des.fasesxproyecto', proyecto_id=proyecto.id)), 
		("Items",url_for('des.itemsxproyecto', proyecto_id=proyecto.id))
	]%}
{% endif%}

{% block body %}
<h2>Fases del Proyecto: <font color="royalblue">{{ proyecto.nombre }}</font></h2>

<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
    {% for fase in fases %}
    	<li><a href="#nombre{{fase.id}}" data-toggle="tab">{{ fase.nombre }} </a></li>
    {% endfor%}
    </ul>
    
    <div class="tab-content">
    	{% for fase in fases %}
     	<div class="tab-pane" id="nombre{{fase.id}}">
     		<ul class="thumbnails">
				<li class="span10">
				<div class="thumbnail">

					<h3>Items de: <font color="royalblue">{{ fase.nombre }}</font></h3>	
					<p>Descripcion: {{fase.descripcion}}</p>
					<p>Estado: <font color="royalblue">{{ fase.getEstado() }}</font></p>
	
					<div class="row-fluid">
						<div class="span2">
						<a class="btn btn-primary" href="{{ url_for('des.crearItem', proyecto_id=proyecto.id, fase_id=fase.id)}}"><strong>Crear Item</strong></a><br><br>
						</div>
	    			</div>
	
					<table class='table table-bordered table-hover table-condensed'>
						<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Estado</th>
							<th>Historiales</th>
							<th>Relaciones</th>
							<th></th>
						</tr>
						</thead>
						{% for item in fase.getItems(proyecto.id) %}
						<tr>
							<td>{{ item.nombre }}</td>
							<td>{{ item.descripcion }}</td>
							<td>{{ item.getEstado() }} | 
							{% if item.getEstado()=='aprobado'%}
							<a href="{{ url_for('des.desaprobarItem', item_id=item.id) }}"><i class="icon-remove"></i>Desaprobar</a>
							{%else%}
							 <a href="{{ url_for('des.aprobarItem', item_id=item.id) }}"><i class="icon-ok"></i>Aprobar</a>{%endif%}</td>
							<td><a data-toggle="modal" href="#{{item.id}}"><i class="icon-calendar"></i>Historial</a></td>
							<td><a data-toggle="modal" href="#sucesor{{item.id}}"><i class="icon-plus"></i> Sucesor</a> | <a data-toggle="modal" href="#padre{{item.id}}"><i class="icon-plus"></i> Padre</a> | <a data-toggle="modal" href="#antecesores{{item.id}}"><i class="icon-eye-open"></i> Antecesores</a> | <a data-toggle="modal" href="#hijos{{item.id}}"><i class="icon-eye-open"></i> Hijos</a></td>
							<td><a href="{{ url_for('des.item', item_id=item.id, proyecto_id=proyecto.id) }}"><i class="icon-pencil"></i>Editar</a>
							{%if proyecto.comite is none%}
							<a href="#" onClick="alert('El proyecto aun no cuenta con un Comite de cambios.')"><i class="icon-remove"></i>Eliminar</a></td>
							{% else%}
							<a data-toggle="modal" href="#modalSolicitud"><i class="icon-remove"></i>Eliminar</a> </td>
							{% endif %}
						</tr>
						
						<!--******************** MODAL SOLICITUD ***************-->	
						<div id="modalSolicitud" class="modal hide fade in" style="display: none;"> 
 							<div class="modal-header"> 
								<a data-dismiss="modal" class="close">×</a>
								<h4>Solicitud de Cambio</h4>	
							</div>
							<div class="modal-body">
								<p>Para eliminar un item debe enviar una <font color="royalblue">Solicitud de Cambio</font> y esperar aprobacion. </p>
							</div>
							<div class="modal-footer">	
								<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
								<a href="{{ url_for('des.crearSolicitud', item_id=item.id, proyecto_id=proyecto.id)  }}" class="btn btn-primary">Enviar Solicitud</a>
							</div>
						</div>
						
						<!--******************** MODAL ASIGNAR PADRE ***************-->
						<div id="padre{{item.id}}" class="modal hide fade in" style="display: none;">
							<div class="modal-header">
								<a data-dismiss="modal" class="close">×</a>
								<h4>Asignar Padre al Item:<font color="royalblue"> {{item.nombre}}</font></h4>
							</div>
							<div class="modal-body">
								<p>Padre Actual: <font color="royalblue">{{item.getPadre()}} {%if item.padre_id > 0%}| <a href="{{ url_for('des.quitarPadre', itemActual_id=item.id, itemCandidato_id=item.padre_id) }}"><i class="icon-remove"></i>Quitar</a>{%endif%}</font></p>
								<p>Seleccione un nuevo Padre: </p>
								    <ul class="nav nav-list">
								    	<li class="nav-header">Items disponibles de: {{fase.nombre}}</li>
			    							{% for itemCandidato in fase.items %}
			    								{% if itemCandidato != item %}
			    								<li><a href="{{ url_for('des.relacionarPadre', itemActual_id=item.id, itemCandidato_id=itemCandidato.id) }}">{{ itemCandidato.nombre }} </a></li>
			    								{% endif %}
			    							{% endfor%}	
			    						</ul>
							</div>
							<div class="modal-footer">
								<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
							</div>
						</div>
						
						<!--******************** MODAL VER HIJOS ***************-->
						<div id="hijos{{item.id}}" class="modal hide fade in" style="display: none;">
							<div class="modal-header">
								<a data-dismiss="modal" class="close">×</a>
								<h4>Hijos actuales de Item:<font color="royalblue"> {{item.nombre}}</font></h4>
							</div>
							<div class="modal-body">
								<p></p>
								    <ul class="nav nav-list">
								    	<li class="nav-header">Hijos en fase: {{fase.nombre}}</li>
			    							{% for itemHijo in item.hijo %}
			    								{% if itemHijo != item %}
			    								<li><a href="#">{{ itemHijo.nombre }}</a></li>
			    								{% endif %}
			    							{% endfor%}	
			    						</ul>
							</div>
							<div class="modal-footer">
								<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
							</div>
						</div>
						
						<!--******************** MODAL ASIGNAR SUCESOR ***************-->
						<div id="sucesor{{item.id}}" class="modal hide fade in" style="display: none;">
							<div class="modal-header">
								<a data-dismiss="modal" class="close">×</a>
								<h4>Asignar Sucesor al Item:<font color="royalblue"> {{item.nombre}}</font></h4>
							</div>
							<div class="modal-body">
								<p>Sucesor Actual: <font color="royalblue">{{item.getSucesor().nombre}} {%if item.sucesor_id > 0%}| <a href="#"><i class="icon-remove"></i>Quitar</a>{%endif%}</font></p>
								<p>Seleccione un nuevo Sucesor: </p>
								    <ul class="nav nav-list">
								    	<li class="nav-header">Items disponibles de la Fase Siguiente</li>
			    						{% if fase.tieneSiguiente(proyecto) %}	
			    							{% for itemCandidato in fase.getFaseSiguiente(proyecto).items %}
			    								{% if itemCandidato != item %}
			    								<li><a href="{{ url_for('des.relacionarSucesor', itemActual_id=item.id, itemCandidato_id=itemCandidato.id) }}">{{ itemCandidato.nombre }} </a></li>
			    								{% endif %}
			    							{% endfor%}
			    						{% else %}
			    							<li><a> NO EXISTEN FASES SIGUIENTES </a></li>
			    						{% endif %}		
			    						</ul>
							</div>
							<div class="modal-footer">
								<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
							</div>
						</div>
						
						<!--******************** MODAL VER ANTECESORES ***************-->
						<div id="antecesores{{item.id}}" class="modal hide fade in" style="display: none;">
							<div class="modal-header">
								<a data-dismiss="modal" class="close">×</a>
								<h4>Antecesores Actuales de Item:<font color="royalblue"> {{item.nombre}}</font></h4>
							</div>
							<div class="modal-body">
								<p>Antecesores en la Fase Anterior</p>
								    <ul class="nav nav-list">
								    	<li class="nav-header">Antecesores la fase Anterior</li>
			    							{% for itemAntecesor in item.getAntecesores() %}
			    								{% if itemAntecesor != item %}
			    								<li><a href="#">{{ itemAntecesor.nombre }}</a></li>
			    								{% endif %}
			    							{% endfor%}	
			    						</ul>
							</div>
							<div class="modal-footer">
								<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
							</div>
						</div>
						
						{% endfor %}
	     			</table>	
				</div>
				</li>
			</ul>	
     </div>
     {% endfor%}
    </div>
 </div>

{% endblock %}
