{% macro render_user_table(users, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('user.pub', name=user.name) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_rol_table(roles, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre del Rol</td>
        </tr>
    </thead>
    <tbody>
        {% for rol in roles %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('rol.pubRol', nombre=rol.nombre) }}">{{ rol.nombre }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_proyecto_table(proyectos, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('proyecto.pubProyecto', nombre=proyecto.nombre) }}">{{ proyecto.nombre }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_comite_table(comites, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
        </tr>
    </thead>
    <tbody>
        {% for comite in comites %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('comite.pubComite', nombre=comite.nombre) }}">{{ comite.nombre }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_tipoItem_table(tiposItem, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
        </tr>
    </thead>
    <tbody>
        {% for tipoItem in tiposItem %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('tipoItem.pubTipoItem', nombre=tipoItem.nombre) }}">{{ tipoItem.nombre }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 1 %}
        <div class='pagination'>
            <ul>
                <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page-1) }}">&larr; Previous</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class='{% if page == pagination.page %}active{% endif %}'>
                            <a href='{{ url_for(endpoint, page=page) }}'>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='#'>...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page+1) }}">Next &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="container">
                <div id='flash_message_container'>
                    {% for category, msg in messages %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
